@for $i from 1 through 7 {
  .photo-gallery:nth-child(#{$i}) {
    height: 30vh;
    max-width: 100%;
    padding: 5px;
    z-index: 2;
    transition: .5s ease;
    &:hover {
      opacity: 0.3;
    }
  }
}

.relative-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

.fade-info {
  position: absolute;
  word-wrap: break-word;
  width: 100%;
  z-index: 0;
}
