@import "variables";
@import "components";
@import "cards";
@import "gallery";
@import "media";
@import "feedback";

body {
  color: $textColor;
  font-family: $font-family;
  background-color: $content-background-color;
}

body, html {
  height: 100%;
}

.container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 10vh;
}

.item-align-end {
  justify-self: flex-end;
}

.align-end {
  justify-content: flex-end;
}

.align-between {
  justify-content: space-between;
}

.align-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.wrap {
 flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

span.psw {
  float: right;
}

@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
}

.timer {
  font: {
    weight: bold;
    size: 2em;
  }
  color: $emphasiseColor;
  #hours, #minutes, #seconds {
    font-size: 2em;
  }
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background-color: #b3b2b2;
  color: white;
  opacity: 0.7;
  &:hover {
    opacity: 1;
}
}

.parallax {
  background-image: url("/resources/carpat1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
